body {
    width: 80%;
    margin: 0px auto;
    font-family: 'Courier New', Courier, monospace;
}

.quizhead {
    text-align: center;
    background-color: rgb(179, 117, 117);
    padding: 5px 0px;
    color: white;
}

.quizhead h1 {
    text-decoration: underline;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 20px;
    background-color: rgb(177, 170, 170);
    color: white;

}

.box button {
    margin: 10px;
    background-color: rgb(179, 117, 117);
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    place-items: center;
}

.box button:hover {
    background-color: white;
    color: black
}

.box ol li {

    list-style-type: none;
}